# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
final/client/Backup/Client.sln
final/client/Client.opensdf
final/client/Client.sdf
final/client/Client.sln
final/client/Client.v12.suo
final/client/Client.vcxproj
final/client/Client.vcxproj.filters
final/client/debug.log
final/client/Debug/Client.ilk
final/client/Debug/Client.log
final/client/Debug/Client.pdb
final/client/Debug/Client.tlog/cl.command.1.tlog
final/client/Debug/Client.tlog/CL.read.1.tlog
final/client/Debug/Client.tlog/CL.write.1.tlog
final/client/Debug/Client.tlog/Client.lastbuildstate
final/client/Debug/Client.tlog/link.command.1.tlog
final/client/Debug/Client.tlog/link.read.1.tlog
final/client/Debug/Client.tlog/link.write.1.tlog
final/client/Debug/vc120.idb
final/client/Debug/vc120.pdb
final/client/ipch/client-3de28ef8/client-c767fd4b.ipch
final/client/UpgradeLog.htm
final/client/Client.sln
final/client/Client.sln
final/client/Client.sln
final/client/Debug/Client.Build.CppClean.log
